body{
    background-color: rgb(34,34,34);
}
p,h1,h2,h3,h4,h5,h6,label{
    color: rgb(255, 255, 255);
}

 .active>.page-link, .page-link.active{
    background-color: #ffcc00 !important;
    /* border:1px solid rgb(220,220,220);  */
    /* border: transparent; */
    color: black;
 }

.dropdown-list, input[type="email"],input[type="email"]:focus,input[type="email"]:active,input[type="text"],input[type="text"]:active,input[type="text"]:focus,input[type="search"],input[type="search"]:active,input[type="search"]:focus,textarea,textarea:focus,textarea:active{
    background-color: rgb(48,48,48);
    color: #ffffff;
    border: 1px solid rgb(68, 68, 68);
 }



 ::placeholder{
    color: #9e9e9e!important;
 }

 .page-link{
    color: rgb(255, 255, 255);
    background-color: rgb(34,34,34);
    border: 1px solid rgb(48,48,48)!important;
 }

 .page-link:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(68, 68, 68);
    border: 1px solid rgb(48,48,48);
 }

 /* table{
    overflow: scroll;
 } */

 /* .page-item.active .page-link {
    background-color: lightgrey !important;
    border: 1px solid black;
} */


/* (2) Change disabled buttons*/
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:active,
.pagination>.disabled>a:focus {
    background-color: rgb(34,34,34);
    background-color: rgb(48,48,48);
    border-color: #F0F8FF;
    color: #ffffff;
}

.book-details{
    background-color: rgb(48,48,48);
    color: #ffffff;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 16px;
}

.table>tbody>tr:nth-child(odd)>td,
.table>tbody>tr:nth-child(odd)>th,.table>tbody>tr:nth-child(even)>td, 
.table>tbody>tr:nth-child(even)>th {
   background-color: rgb(34,34,34); 
   /* background-color: rgb(184, 184, 184);  */
   /* background-color: rgb(219, 219, 219);   */
   /* padding: 30px!important; */
 }



 /* .table>tbody>tr:nth-child(even)>th{
    border-radius: 16px;
 } */

 [type='radio'] {
    display: none; 
    }

.dataTables_info{
        color: white;
}
    
.dataTables_wrapper .dataTables_paginate .paginate_button,.dataTables_info {
        /* border-radius: 50% !important; */
        /* padding: 0.5em 0.9em !important; */
        margin-top:15px;
}



/* table responsive */
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

/* Force table to not be like tables anymore */
table, thead, tbody, th, td, tr { 
    display: block; 
}

table,tr{
    padding: 20px;
}

select{
    margin: 30px 10px;
}

/* Hide table headers (but not display: none;, for accessibility) */
thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
}

tr { border: 1px solid #ccc; }

td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
}

td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    /* margin: 50px; */
    white-space: nowrap;
}
}

.cta1,.cta2,.cta3{
    color: #ffffff;
    border: none;
}

.cta1{
    background-color: rgba(28,48,158,1);
}
.cta2{
    background-color: #ffcc00;
    color: #434343;
}
.cta3{
    background-color: rgb(158, 28, 28);
}
.cta3:hover{
    color: rgb(158, 28, 28);
}