@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


  /* Windows and Macs */
  @media screen and (min-resolution: 96dpi) {
    /* Target Windows with Inter and Macs with apple-system */
    body {
      font-family: -apple-system, 'Inter', sans-serif; /* Fallback font for Windows */
    }
  }


body{
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    /* background-color: #fff; */
    text-align: center;
    /* background-color: rgb(34,34,34); */
    /* background-color: rgb(15,15,15); */
    /* background-image: url(../assets/starbg.JPG); */
    background-repeat: no-repeat;
    background-size:cover;
}

.about-para{
    text-align: left;
    font-size: large;
    font-weight:500
}


/* li a, li a:link{
    text-decoration: none;
    display: inline-block;
} */

/* li a{
    color: rgb(34,34,34);
} */

/* .navbar li{
    list-style-type: none;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    margin:10px 0;
} */



.navbar a{
    /* padding: 15px 20px; */
    text-decoration: none;
    /* display: inline-block; */
    /* color: rgb(34,34,34); */
}

.navbar a:active{
    /* background-color: rgb(34,34,34); */
    background-color: hsl(231, 70%, 96%);
    /* color: #ffffff; */
    color: rgb(34,34,34);
    border-radius: 10px;
}

.navbar a:visited{
    text-decoration:none;
    list-style-type: none;
    color: #ffffff;
}

.navtitle{
    /* background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: rgb(34,34,34)!important;
}

/* 
.navbar li:first-child{
    
    margin:0 400px 0 0;
    padding:3px 11px;
    font-size: 2rem;
    background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

} */

/* .navbar li:hover{
    background-color:rgb(245,245,245);
    border-radius: 10px;
} */

.navbar {
    width:auto;
    /* background-color: #fff; */
    /* background-color: rgb(30, 30, 30); */
    /* background-color: rgb(15,15,15); */
    background-color: hsl(231, 70%, 96%)!important;
    padding:0;
    /* box-shadow: 0px 10px 30px rgb(230,230,230); */
}

.section1 h1{
    font-size: 3.5em;
    margin-top: 0.9em;
    color: rgb(34,34,34);
}
#title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    /* background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: rgb(34,34,34);
}

.homebg{
    /* transform: scale(0.7); */
    width: 600px;
}

@media screen and (max-width:500px){
    #title{
        font-size: 30px;
    }
    span{
        font-size: 30px;
    }
    .homebg{
        /* transform: scale(0.7); */
        width: 300px;
    }
}

.section1{
    margin:20px 0!important;
    text-align: center;
}

#infopara{
    font-size: 25px;
    color: #ffffff;
    font-weight:300;
}

.button-div{
    /* background-color: rgb(245,245,245); */
    background-color: rgb(35,35,35);
    /* width:90%; */
    border-radius:40px;
    padding:20px;
    margin: 80px auto;
    display:flex; 
    /* align-items: center; */
    justify-content: center;
}


.cta-buttons{
    padding:30px 40px;
    margin:0 20px;
    background-repeat: no-repeat;
    background-size: cover;
    list-style-type: none;
    text-decoration: none;
    border-radius:20px;
    max-width: 270px;
    /* width: 300px; */
    /* height: 200px; */
    font-weight: bold;
    /* color: #fff!important; */
    border-style: none;
    text-align: left;
    transition: transform 0.5s;
    }
    
    .cta-buttons:hover{
        box-shadow: 0px 0px 30px rgb(150,150,150);
        transition: 500ms;
        transform:scale(1.05);
        color: #fff;
    
    }
    
    .cta-buttons:visited{
        color: #fff;
    }
    
    .cta-buttons:first-child{
        margin-left:0;
    }
    .cta-buttons:last-child{
        margin-right:0;
    }
    
    .cta-buttons a{
        text-decoration: none;
        color: white;
    }

.op1{
    background-image:url(../assets/btn1.jpg);
}

.op2{
    background-image:url(../assets/btn2.jpg);
}

.op3{
    background-image:url(../assets/btn3.jpg);
}

.op4{
    background-image:url(../assets/btn4.jpg);
}

p{
    font-weight: 250;
}

/*added on 14th oct*/

a{
    text-decoration: none;
}

h4,h1,p{
    /* color: white!important; */
}

a:active,a:visited,a:link{
    color: #ffffff;
}

#navbarID a:hover{
    /* background-color:rgb(35, 35, 35); */
    background-color: hsl(231, 70%, 90%)!important;
    border-radius: 10px;
}

.hamburger{
    /* background-color: burlywood; */
    /* padding: 5px !important; */
    /* color:rgb(48, 48, 48)!important; */
    color:#fff!important;
}

/* @media screen and (min-width: 1000px) and (max-width: 1280px) {
    .cta-buttons{
        max-width: 250px!important;
    }
} */

:root {
    --color-bg: rgb(34,34,34);
    --color-fg: #ffffff;
  }
  

  #edco-title{
    color: #ffcc00;
}

#navbarID .logout-button{
    background-color: #ffcc00!important;
    color: rgb(34,34,34)!important;
    border-radius: 10px;
    /* width: 100px; */
}

#navbarID .logout-button:hover{
    background-color: #a98700!important;
    color: rgb(34,34,34)!important;
    border-radius: 10px;
}

@media (prefers-color-scheme: light) {
    :root {
      --color-fg: rgb(34,34,34);
      --color-bg: hsl(231, 70%, 96%)!important;
      
    }

    hr{
      background-color: rgb(17, 17, 17);
    }


    #title{
        color: #ffcc00;
    }
    .missions-title{
        /* color: rgb(34,34,34); */
        color: var(--color-fg);
    }

    #navbarID .logout-button:hover{
        background-color: #e1b400!important;
        color: rgb(34,34,34)!important;
        border-radius: 10px;
    }

    .hamburger{
        /* background-color: burlywood; */
        /* padding: 5px !important; */
        /* color:rgb(48, 48, 48)!important; */
        color:var(--color-fg)!important;
        border: 1px solid rgb(34,34,34)!important;
    }

  body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    /* background-image: url(../assets/whiteBG.png); */
  }
  
    h1,h4,p{
        color: --color-fg!important;
        }

  .button-div{
    /* background-color: rgb(245,245,245); */
    background-color: rgb(202, 202, 202);
    /* background-color: rgb(26, 26, 26); */
  }

  #infopara{
    color: rgb(34,34,34);
  }

  .navbar{
    background-color: #fff;
    /* background-color: rgb(34,34,34)!important; */
    /* box-shadow: 0px 10px 30px rgb(200,200,200); */
  }

  .navtitle{
    /* background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    
    /* color: rgb(34,34,34)!important; */
    /* color: rgb(255, 255, 255)!important; */

}

  #navbarID a{
    /* color: rgb(34,34,34); */
    color: var(--color-fg);
    /* color: rgb(255, 255, 255)!important; */
  }  

  #navbarID a:hover{
    /* background-color:rgb(245,245,245); */
    background-color:hsl(231, 70%, 90%)!important;
    /* background-color: rgb(17, 17, 17)!important; */
  }

  a:active,a:visited,a:link{
    /* background-color: rgb(34,34,34)!important; */
    color: #fff;
  }

}

@media (prefers-color-scheme: light) or (prefers-color-scheme: dark) {
    :root {
        /* --color-bg:  rgb(34,34,34); */
        --color-bg:  rgb(34,34,34)!important;
        --color-fg: #ffffff;
    }

    hr{
      background-color: rgb(202, 202, 202);
    }

    #title{
        color: #ffcc00;
    }
    .missions-title{
        /* color: rgb(34,34,34); */
        color: var(--color-fg);
    }

  body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    /* background-image: url(../assets/whiteBG.png); */
  }
  
    h1,h4,p{
        color: --color-fg!important;
        }

  .button-div{
    /* background-color: rgb(245,245,245); */
    background-color: rgb(26, 26, 26);
  }

  #infopara{
    color: rgb(34,34,34);
  }

  .navbar{
    /* background-color: #fff; */
    background-color: rgb(34,34,34)!important;
    /* box-shadow: 0px 10px 30px rgb(200,200,200); */
  }

  .navtitle{
    /* background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    
    color: rgb(34,34,34)!important;
    color: rgb(255, 255, 255)!important;
}

  #navbarID a{
    /* color: rgb(34,34,34); */
    color: rgb(255, 255, 255)!important;
  }  

  #navbarID a:hover{
    /* background-color:rgb(245,245,245); */
    background-color: rgb(17, 17, 17)!important;
  }
  a:active,a:visited,a:link{
    background-color: rgb(34,34,34)!important;
    color: #fff;
  }

}

@media screen and (max-width: 1000px) {

    .cta-buttons{
        max-width: fit-content;
    }

    .topnav a {
      display: block;
    }
  
    .navbar-toggler {
      position: absolute;
      right: 20px;
      top: 20px;
    }
  
    .topnav #login {
      margin: 24px 0px !important;
    }
  }

  
